<h1>Look at my Pics!</h1>
<% if (myPics.length){ %>
<div class="picBox">
  <% myPics.forEach(p => { %>
  <div>
    <img src="<%=p.url%>" alt="picture" />
  </div>
  <% }) %>
</div>
<% } else { %>
<h2>Sorry, I don't have any pics</h2>
<% } %>

<a href="/">New Pic?</a>
